node_modules
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local

pnpm-lock.yaml
package-lock.json

swagger_output.json

logs/*
docs/*

.cursor/rules/*

.pnpm-store/*